/*
/===========================================================\
|                                                           |
|                                                           |
|                       Import Fonts                        |
|                                                           |
|                                                           |
/===========================================================\
*/
/* Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

* {
  box-sizing: border-box;

  /* Typography */
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

body,
html {
  /* Default */
  margin: 0;

  width: 100%;
  min-height: 100vh;

  /* Body background color: Very dark blue */
  background-color: hsl(226, 43%, 10%);
}
